.login{
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 32px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    min-height: 100vh;
    
    &__logo{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 100px;
            img{
                width: 80%;
                height: auto;
                display: flex;
                
            }
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
        align-items: center;
        &__title{
            background: linear-gradient(270deg, #f5f7fa 0%, #c3cfe2 100%);
            border: 2px solid #c3cfe2;
            border-radius: 16px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.12);
            padding: 32px 24px;
            width: 340px;
            margin: 0 auto;
        }
        &__divider{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}
